# 0교시 (09:30~10:30) 

### Recap
- 문자열 포맷팅
    - %s
    - format()
    - f string
- 문자열 함수
    - count
    - find, index
    - upper, lower
    - strip, rstrip, lstrip
    - replace
    - split
    - join
- 배열 (List)
    - list, element, index
    - 슬라이싱
    - 길이 구하기
    - 수정/삭제

#

#

### 지난 시간 Q
- [1,2,3] 에서 [[4,5],1,2,3] 만드는 방법? 바로 나옵니다 ~~!

#

#

### 리스트 함수

##### 함수 0: append, insert
- element 를 추가하는 함수들

##### append

In [99]:
# 리스트 마지막에 element 추가
fruits = ['apple', 'pear', 'banana']
print(fruits)

fruits.append('mango')
print(fruits)

['apple', 'pear', 'banana']
['apple', 'pear', 'banana', 'mango']

In [100]:
# 다양한 자료형 추가 가능 
fruits.append(1)
print(fruits)

fruits.append(['strawberry', 'pineapple'])
print(fruits)

['apple', 'pear', 'banana', 'mango', 1]
['apple', 'pear', 'banana', 'mango', 1, ['strawberry', 'pineapple']]

In [101]:
# element 는 하나씩만 추가 가능
fruits.append(1, 2, 3)
print(fruits)

TypeError: list.append() takes exactly one argument (3 given)

##### insert

In [104]:
# 리스트의 특정 인덱스에 element 추가
fruits = ['apple', 'pear', 'banana']
print(fruits)

fruits.insert(1, 'mango')
print(fruits)

['apple', 'pear', 'banana']
['apple', 'mango', 'pear', 'banana']

In [103]:
# fruits 리스트의 길이는?
print(len(fruits))

# 최대 인덱스는? 
# 3

4

In [109]:
# 리스트 길이보다 긴 index 에 넣으면?  
fruits.insert(100, 'mango')
print(fruits)

['strawberry', 'apple', 'mango', 'pear', 'banana', 'mango', 'mango', 'mango', 'mango']

In [110]:
# 음수 index 에 넣으면?  
fruits.insert(-100, 'cherry')
print(fruits)

['cherry', 'strawberry', 'apple', 'mango', 'pear', 'banana', 'mango', 'mango', 'mango', 'mango']

#

#

##### 함수 1: sort

In [113]:
# 리스트 내부 element 들 정렬
numbers = [9, 5, 100, 30, 244]
print(numbers)

numbers.sort() # 디폴트 오름차순
print(numbers)

[9, 5, 100, 30, 244]
[5, 9, 30, 100, 244]

In [114]:
# 내림차순? 
numbers = [9, 5, 100, 30, 244]
print(numbers)

numbers.sort(reverse = True)
print(numbers)

[9, 5, 100, 30, 244]
[244, 100, 30, 9, 5]

In [115]:
# 문자열 정렬 가능
alphabets = ['ant', 'camera', 'bear', 'cry']
print(alphabets)

alphabets.sort()
print(alphabets)

['ant', 'camera', 'bear', 'cry']
['ant', 'bear', 'camera', 'cry']

#

##### 함수 2: reverse

In [116]:
# 리스트 반대로 뒤집기 
numbers = [2, 4, 6, 8, 10]
print(numbers)

numbers.reverse()
print(numbers)

[2, 4, 6, 8, 10]
[10, 8, 6, 4, 2]

#

##### 함수 3: index

In [117]:
# 찾는 element 의 index 반환
numbers = [2, 4, 6, 8, 10]
print(numbers.index(10))

4

In [118]:
# 찾는 element 가 없으면? 
numbers = [2, 4, 6, 8, 10]
print(numbers.index(12))

ValueError: 12 is not in list

#

##### 함수 4: remove, pop
- element 를 삭제하는 함수들

In [119]:
# ! 복습: del 도 가능 
language = ['python', 'ruby', 'java', 'javascript']
print(language)

del language[0]
print(language)

['python', 'ruby', 'java', 'javascript']
['ruby', 'java', 'javascript']

##### pop

In [120]:
# (디폴트) 리스트 맨 끝의 element 삭제 
fruits = ['apple', 'pear', 'banana']
print(fruits)

fruits.pop()
print(fruits)

['apple', 'pear', 'banana']
['apple', 'pear']

In [125]:
# 지정된 index 의 element 삭제 가능
fruits = ['apple', 'pear', 'banana']
print(fruits)

fruits.pop(1)
print(fruits)

['apple', 'pear', 'banana']
['apple', 'banana']

##### remove

In [126]:
# 일치하는 element 삭제
language = ['python', 'ruby', 'java', 'javascript']
print(language)

language.remove('javascript')
print(language)

['python', 'ruby', 'java', 'javascript']
['python', 'ruby', 'java']

In [127]:
# 일치하는 ** 첫 번째 ** element 삭제
nums = [1, 2, 3, 4, 1]
print(nums)

nums.remove(1)
print(nums)

[1, 2, 3, 4, 1]
[2, 3, 4, 1]

#

##### 함수 5: count

In [128]:
# element 개수 세기
language = ['python', 'ruby', 'java', 'javascript']
print(language.count('python'))
print(language.count('carbon'))

1
0

#

##### 함수 6: join

In [129]:
# 문자열 (string) 의 join 역할과 유사
# 리스트를 하나의 문자열로 연결

letters = ['a', 'b', 'c'] # a*b*c
print('*'.join(letters))

a*b*c

In [130]:
# 단, 리스트 안의 element 들이 문자열이어야 가능

nums = [1, 2, 3]
print('*'.join(nums))

TypeError: sequence item 0: expected str instance, int found

#

#### Quiz 0

##### (basic)
['1월', '3월', '2월', '4월'] 을 ['1월', '2월', '3월', '4월'] 로 만들어보세요.

##### (basic) 
같은 문제를 insert 와 remove 만을 사용해 풀어보세요.

#

#

#

#

#

#

In [131]:
# basic
months = ['1월', '3월', '2월', '4월'] 
months.sort()
print(months)

['1월', '2월', '3월', '4월']

In [132]:
# basic
months = ['1월', '3월', '2월', '4월'] 
months.remove('3월')
months.insert(2, '3월')
print(months)

['1월', '2월', '3월', '4월']

#

#

### Set (집합) 
- 유일한 값들의 모음 (중복을 허용하지 않음)

In [133]:
# set 생성 방법

a = set()

In [134]:
a = set([1, 2, 3])
print(a)

b = set([1, 2, 3, 3, 3])
print(b)

{1, 2, 3}
{1, 2, 3}

In [135]:
# set 의 특징: 순서가 없음

c = set('hello')
print(c)

{'h', 'o', 'e', 'l'}

In [137]:
# list 함수를 사용하면, set 을 리스트로 만들 수 있음 

c = set('hello')
print(c)

d = list(c)
print(d)

{'h', 'o', 'e', 'l'}
['h', 'o', 'e', 'l']

#### set 관련 함수들

##### add

In [141]:
# set 에 값을 1개 추가

s = set([1,2,3])
print(s)

s.add(4)
s.add(5)
s.add(1)
s.add('test')
print(s)

{1, 2, 3}
{1, 2, 3, 4, 5, 'test'}

##### update

In [142]:
# set 에 값을 여러개 추가

s = set([1,2,3])
print(s)

s.update([4, 5])
print(s)

{1, 2, 3}
{1, 2, 3, 4, 5}

##### remove

In [143]:
# set 에서 값 제거

s = set([1,2,3,4,5])
print(s)

s.remove(4)
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}

#

#### Quiz 1
set('happy') 를 만들면 {'h', 'y', 'p', 'a'} 결과가 (예시) 반환됩니다.

##### (basic)
위 set 을 리스트로 만들고, 알파벳 순으로 정렬해보세요.

##### (challenge) 
위 set 을 다시 문자열 'happy' 로 만들어 보세요. (힌트: set 을 먼저 리스트로 변환해야 함)

#

#

#

#

#

In [ ]:
# basic
answer = set('happy')
answer = list(answer)
answer.sort()

print(answer)

In [151]:
# challenge
answer = set('happy')
answer = list(answer)
answer.sort()
answer.remove('a')
answer.insert(1, 'ap')

print(''.join(answer))

happy

#

#

### Boolean 
- 줄여서 bool 
- 참거짓을 나타내는 자료형
- True, False 로 표시 (꼭! 대문자 사용해야 함)

In [152]:
a = True
b = False

print(a)
print(b)

True
False

In [153]:
a = true

NameError: name 'true' is not defined

In [154]:
# 언제 사용하나? 
# 특정 조건이 참인지, 거짓인지 나타낼 때
# 파이썬의 비교 연산자와 자주 사용 (==, !=, >, <)

print(1 > 0)
print(10 < 10)
print(1 == 1)
print(1 != 3)

True
False
True
True

In [155]:
# 연산을 하지 않아도, 어떤 값 자체가 참 또는 거짓이 될 수 있음 
# 이를 판단하기 위한 명령어: bool()

bool('python')

True

In [160]:
# 참인 값들

bool('?') # 비어 있지 않은 문자열

True

In [161]:
bool([1, 2, 3]) # 비어 있지 않은 리스트

True

In [164]:
bool(-100) # 0 이 아닌 모든 숫자 (음수 포함)

True

In [165]:
# 거짓인 값들

bool('') # 비어 있는 문자열

False

In [166]:
bool([]) # 비어 있는 리스트

False

In [167]:
bool(0) # 숫자 0

False

#

### 제어문
- 조건문 (if)
    - 만약 하은이가 학생이라면, 수익이 없을 것이다. 
    - if Haeun is a student, then she will have no income.
- 반복문 (while, for) 
    - 하은이가 학생인 동안, 공부를 할 것이다. 
    - while Haeun is a student, she will study.
    - 10일 동안, 하은이는 책을 한 권 읽을 것이다.
    - for 10 days, Haeun will read a book.

#### 조건문 (if)

In [168]:
# 만약 하은이가 학생이라면, 수익이 없을 것이다.
# if Haeun is a student, then she will have no income.
# if (조건이 참이라면), then (어떤 결과가 있을 것이다)
    
if True: # if (조건이 참이라면)
    print("결과") # then (어떤 결과가 있을 것이다)

결과

In [169]:
if (100 == 100):
    print("출력이 됩니다.")
    
if 100 == 100:
    print("얘도 출력이 됩니다.")

출력이 됩니다.
얘도 출력이 됩니다.

In [172]:
if 'a' == 'b':
    print("출력이 될까요?")
    
if 'a' == 'a':
    print("출력이 될까요? 2")
    
if 'a' != 'b':
    print("출력이 될까요? 3")

출력이 될까요? 2
출력이 될까요? 3

In [ ]:
# 왜 위와 같은 결과가 나왔을까요? 
# 출력이 되도록 하려면 무엇을 수정해야 할까요?

#### 조건문 (if-else)

In [174]:
# if - else
# 만약 하은이가 학생이라면, 수익이 없을 것이다. 그렇지 않다면, 수익이 있을 것이다. 
# if Haeun is a student, then she will have no income. Else, then she will have income.
# if (조건이 참이라면), then (어떤 결과가 있을 것이다). Else (조건이 참이 아니라면), then (또 다른 결과가 있을 것이다)

if False: # if (조건이 참이라면)
    print("조건이 참이었네요") # then (어떤 결과가 있을 것이다)
else: # else (조건이 참이 아니라면)
    print("조건이 거짓이었네요") # then (또 다른 결과가 있을 것이다)

조건이 거짓이었네요

In [175]:
if 1 < 0:
    print("야호! 성공!")
else:
    print("흑흑 실패")

흑흑 실패

In [176]:
money = True
if money:
    print("부자")
else:
    print("거지")

부자

In [177]:
# 만약 내일이 휴일이라면, 카페도 가고 서점도 가고 청소도 하고 싶다. 만약 내일이 휴일이 아니라면, 퇴사할 것이다. 

tomorrow = '휴일'
if tomorrow == '휴일':
    print('카페 가기')
    print('서점 가기')
    print('청소 하기')
else:
    print('퇴사하기')

카페 가기
서점 가기
청소 하기

In [178]:
money = False
if money:
    financial_status = '풍요로움'
    physical_status = '편안함'
    print(financial_status, physical_status)
else:
    string = 'i am happy'
    l = string.split()
    print(l)

['i', 'am', 'happy']

In [181]:
# indent (들여쓰기) 의 중요성

money = True
if money:
    print("부자")
print("야호")
    print("신난다")
else:
    print("거지")

IndentationError: unexpected indent (2703525268.py, line 7)

In [182]:
money = True
if money:
    print("부자")
    print("야호")
        print("신난다")
else:
    print("거지")

IndentationError: unexpected indent (2317177108.py, line 5)

#### 조건문 (if-elif-else)

In [184]:
# if - else if - else
# 만약 하은이가 학생이라면, 수익이 없을 것이다. 만약 직장인이라면, 수익이 있을 것이다. 그렇지 않다면, 백수일 것이다. 
# if Haeun is a student, then she will have no income. Else if she is working, she will have income. Else, she will be unemployed.
# if (조건이 참이라면), then (어떤 결과가 있을 것이다). Else if (다른 조건이 참이라면), (어떤 결과가 있을 것이다.). Else (조건이 참이 아니라면), then (또 다른 결과가 있을 것이다)

haeun = 'employed'

if haeun == 'student': 
    print("$ 없음")
elif haeun == 'employed':
    print("$ 있음")
else: 
    print("백수 ㅠㅠ") 
    
print('새로운 코드')

$ 있음
새로운 코드

In [185]:
# elif 추가 가능

coffee = 'americano'

if coffee == 'americano': 
    print("쓴 커피입니다")
elif coffee == 'latte':
    print("부드러운 커피입니다")
elif coffee == 'caramel':
    print("달달한 커피입니다")
else: 
    print("뭔지 모름")

쓴 커피입니다

In [188]:
# 중첩 if 문 추가 가능

coffee = 'caramel'
syrup = 'hazelnut'

if coffee == 'americano': 
    print("쓴 커피입니다")
elif coffee == 'latte':
    print("부드러운 커피입니다")
    if syrup == 'vanilla':
        print("바닐라 라떼")
    elif syrup == 'hazelnut':
        print("헤이즐넛 라떼")
    else: 
        print("기본 라떼")
elif coffee == 'caramel':
    print("달달한 커피입니다")
else: 
    print("뭔지 모름")

달달한 커피입니다

#

#### Quiz 2
아래 문장을 if 조건문으로 작성해보세요. 

##### (basic)
만약 아이유가 콘서트를 열면, 티켓팅을 할 것이다. 그렇지 않다면, 티켓팅을 하지 않을 것이다.

##### (challenge) 
만약 아이유가 콘서트를 열면, 티켓팅을 할 것이다. 그렇지 않다면, 티켓팅을 하지 않을 것이다. 공연일이 주말이라면, 숙소도 알아볼 것이고, 그렇지 않다면, 알아보지 않을 것이다. 주말 공연인데 공연일이 일요일이라면, 교회에 갔다가 콘서트에 갈 것이고, 토요일이라면, 집에 있다가 콘서트에 갈 것이다. 

##### (challenge-1)
숫자가 두 개 있는 리스트를 받고, 0번째 숫자가 홀수이면 0번째와 1번째 숫자를 더하고, 1번째 숫자가 홀수이면 0번째와 1번째 숫자를 곱하는 if-elif-else 문을 만들어 보세요.

#

In [194]:
# if-elif-else 와 if 여러번의 차이 

age = 61

if age > 60:
    print("노년기")
elif age > 40:
    print("장년기")
elif age > 20:
    print("청년기")
else:
    print("응애")
    
if age > 60:
    print("노년기")
if age > 40:
    print("장년기")
if age > 20:
    print("청년기")
else:
    print("응애")

노년기
노년기
장년기
청년기